<li class="list-group-item">
  <div class="row">
    <div class="col-4">
      <div class="d-flex h-100 align-items-center">
        <span><%%= link_to <%= @record_name %>.<%= options['display-method'] %>,
                          admin_<%= @record_name %>_path(<%= @record_name %>) %></span>
        <span class="badge badge-primary">
          <%%= link_to 'edit', edit_admin_<%= @record_name %>_path(<%= @record_name %>) %>
        
        </span>
        <span class="badge badge-danger">
          <%%= link_to 'delete', admin_<%= @record_name %>_path(<%= @record_name %>),
                                method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
      </div>
    </div>

    <div class="col-4 offset-4">
      <div class="row">
        <div class="col-4">
          <span>Created</span>
        </div>
        <div class="col-8">
          <span><%%= <%= @record_name %>.created_at %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <span>Last updated</span>
        </div>
        <div class="col-8">
          <span><%%= <%= @record_name %>.updated_at %></span>
        </div>
      </div>
    </div>
  </div>
</li>

