<div class="row">
  <div class="col-8">
    <h1><%= @controller_name %>: <%%= @<%= @record_name %>.<%= options['display-method'] %> %></h1>
  </div>
  <div class="col-4">
    <div class="d-flex h-100 justify-content-end align-items-center">
      <%%= link_to 'Edit', edit_admin_<%= @record_name %>_path(@<%= @record_name %>),
                          class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row"> 
      <div class="col-4">
        <span>Created:</span>
      </div>
      <div class="col-8">
        <span id="created_at"><%%= @<%= @record_name %>.created_at %></span>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="row"> 
      <div class="col-4">
        <span>Last updated:</span>
      </div>
      <div class="col-8">
        <span id="updated_at"><%%= @<%= @record_name %>.updated_at %></span>
      </div>
    </div>
  </div>
</div>
<hr>

<div id="fields-row" class="row">
  <div class="col-12">
    <%% @fields.each do |field, _| %>
      <%% value = @<%= @record_name %>.send(field) %>
      <p id="<%%= field %>">
        <strong><%%= field %></strong>: <%%=  value.nil? ? '<null>' : value %>
      </p>
    <%% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-end">
      <%%= link_to 'Back to index page', admin_<%= @record_name.pluralize %>_path,
                                        class: 'btn btn-primary' %>
    </div>
  </div>
</div>

