<% provide :title, "The Freeman's Newspaper".html_safe %>

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <%= content_tag :h1, 'Headlines' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul id="all-articles" class="articles-list list-group">
          <%= render @articles %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <%= content_tag :h1, 'Topics' %>
        </div>
      </div>
    </div>
    <div id="topics-list" class="row">
      <%= render @topics %>
      <%= render 'topics/topic_index' %>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <%= content_tag :h1, 'Top rated columns' %>
        </div>
      </div>
      <div class="col-12">
        <div id="columns-list" class="row">
          <%= render @columns %>
          <%= render 'columns/column_index' %>
        </div>
      </div>
    </div>
  </div>
</div>

