<%= form_for(@article, url: yield(:form_url)) do |f| %>
  <%= render 'layouts/error_messages', object: @article %>

  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <%= f.text_field :title, id: 'title-field',
                                     class: 'form-control',
                                     placeholder: 'Article title' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6 col-lg-2">
          <p class="rm-margin">Posted:</p>
        </div>
        <div class="col-6 col-lg-4">
          <p class="text-right text-lg-left rm-margin">
            <%= @article.created_at.nil? ? 'N/A' : @article.created_at %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-2">
          <p class="rm-margin">Last updated:</p>
        </div>
        <div class="col-6 col-lg-4">
          <p class="text-right text-lg-left rm-margin">
            <%= @article.updated_at.nil? ? 'N/A' : @article.updated_at %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <div class="col-12">
      <%= f.text_area :content, id: 'content-field',
                                class: 'form-control',
                                placeholder: 'Input your content here' %>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <div class="col-12">
      <div id="topic-field-master">
        <div id="topic-field-tags">
          <%# topic tags are inserted within this element %>
          <% if @article.topics.count > 0  # i.e. a saved record %>
            <% @article.topics.each do |topic| %>
              <span class="tag badge badge-light">
                <span><%= topic.name %></span>
                <span class="delimiter"> | </span>
                <a href="#" class="tag-delete-link">x</a>
              </span>
            <% end %>
          <% end %>
        </div>
        <div id="topic-field-slave">
          <input type="text" id="topic-field-input" class="form-control" placeholder="add a topic">
          <% topics_str = @article.topics.map { |topic| topic.name }.join ', ' %>
          <% topics_str += ', ' if !topics_str.empty? %>
          <%= hidden_field_tag :topics, topics_str, id: 'topic-field-data' %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <div class="col-12 col-md-4 offset-md-8">
      <%= f.submit yield(:button_text), class: submit_classes %>
    </div>
  </div>
<% end %>
