<% provide(:title, @article.title) %>

<article class="row">
  <% if @article.thumbnail? %>
    <div class="col-12">
      <div class="image-container">
        <h3 id="thumbnail-filename" class="d-flex align-items-center justify-content-center">
          <%= content_tag :span, @article.thumbnail.file.filename %>
        </h3>
        <div class="thumbnail-container">
          <div class="img-tag-container">
            <%= image_tag @article.thumbnail.url %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <h1 id="title-field"><%= @article.title %></h1>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 col-lg-3">
              <%= content_tag :p, "Posted " +
                                  "(#{time_diff(Time.zone.now, @article.created_at, format: 'days').to_i} days ago): ",
                                  class: 'rm-margin' %>
            </div>
            <div class="col-6 col-lg-3">
              <%= content_tag :p, "#{@article.created_at}",
                              class: 'text-right text-lg-left rm-margin' %>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-3">
              <%= content_tag :p, "Last updated " +
                                  "(#{time_diff(Time.zone.now, @article.updated_at, format: 'days').to_i} days ago): ",
                                  class: 'rm-margin' %>
            </div>
            <div class="col-6 col-lg-3">
              <%= content_tag :p, "#{@article.updated_at}",
                              class: 'text-right text-lg-left rm-margin' %>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-3">
              <p class="rm-margin">Views:</p>
            </div>
            <div class="col-6 col-lg-3">
              <p class="text-right text-lg-left rm-margin"><%= @article.views %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <p id="content" class="rm-margin"><%= @article.content %></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <% @article.topics.each do |topic| %>
          <span class="tag badge badge-light"><%= topic.name %></span>
        <% end %>
      </div>
    </div>
    <hr>
    <% if !current_user.nil? && current_user.author? && @article.column.author == current_author %>
      <div class="row">
        <div class="col-12 col-md-4 offset-md-8">
          <%= link_to 'Delete', article_path(@article),
                                method: :delete, data: { confirm: 'Are you sure?' },
                                class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-12">
        <div class="comment-container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-center">
                <%= content_tag :h3, "Comments (#{@article.comments.count})" %>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <div class="comment-holder">
                <%= render 'comments/form' %>
                <%= render @comments %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-center">
                <div id="infinite-scrolling">
                  <%= will_paginate @comments,
                                    renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

