<% provide(:title, @user.full_name) %>

<div class="row">
  <div class="col-12 col-lg-4">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <h3>Bio</h3>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-3">
        <%= content_tag(:span, "Name:") %>
      </div>
      <div class="col-9 text-truncate" data-toggle="tooltip"
           title="<%= @user.name %>">
        <%= content_tag(:span, @user.name) %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <%= content_tag(:span, "Surname:") %>
      </div>
      <div class="col-9 text-truncate" data-toggle="tooltip"
           title="<%= @user.surname %>">
        <%= content_tag(:span, @user.surname) %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <%= content_tag(:span, "Email:") %>
      </div>
      <div class="col-9 text-truncate" data-toggle="tooltip"
           title="<%= @user.email %>">
        <%= content_tag(:span, @user.email) %>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-8">

  </div>
</div>

