<% provide :title, 'Columns' %>

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <%= content_tag :h1, "Columns" %>
        </div>
      </div>
    </div>
    <% unless @recently_relevant_columns.empty? %>
      <div class="row">
        <div class="col-12">
          <%= content_tag :h3, "Recently relevant columns:" %>
        </div>
        <div class="col-12">
          <div id="recently-relevant-columns" class="row">
            <%= render @recently_relevant_columns %>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="row">
      <div class="col-12">
        <%= content_tag :h3, "All columns:" %>
      </div>
      <div class="col-12">
        <div id="all-columns" class="row">
          <%= render @columns %>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <div id="infinite-scrolling">
            <%= will_paginate @columns, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

