<% provide :title, "Column of #{@column.author.full_name}" %>

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <%= content_tag :h1, "#{@column.author.full_name}'s column" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= content_tag :p, @column.author.biography, id: 'author-biography' %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <%= content_tag :h3, "Articles:" %>
      </div>
      <div class="col-12">
        <ul id="articles-list" class="list-group">
          <%= render @articles %>
        </ul>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <div id="infinite-scrolling">
            <%= will_paginate @articles, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

