<%% provide(:title, 'Edit <%= @record_name %>') %>
<%% provide(:form_url, admin_<%= @record_name %>_path(@<%= @record_name %>)) %>
<%% provide(:button_text, 'Apply changes') %>

<div class="w-50 container-fluid form-container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <h1>Edit <%= @record_name %><br><%%= @<%= @record_name %>.<%= options['display-method'] %> %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%%= render 'form', <%= @record_name %>: @<%= @record_name %> %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <span>
          <%%= link_to 'Back to index page', admin_<%= @record_name.pluralize %>_path %>
        </span>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <span>
          <%%= link_to 'View information', admin_<%= @record_name %>_path(@<%= @record_name %>) %>
        </span>
      </div>
    </div>
  </div>
</div>

